:root {
  --green: green;
  --white: white;
  --black: black;
  --purple: purple;
  --button-sm: 5px 10px;
  --button-lg: 10px 20px;
  --1rem: 1rem;
  --1-2rem: 1.2rem;
  --1-5rem: 1.5rem;
  --2rem: 2rem;
  --3rem: 3rem;
  --5rem: 5rem;
  --trasition: all ease-in-out 0.3s;
  --width-full: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif, "Franklin Gothic Medium",
    "Arial Narrow";
  scroll-behavior: smooth;
}

header {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url("../image/bg.jpg");
  background-size: cover;
  background-position: center;
}

nav {
  width: var(--width-full);
  background: #00000030;
  backdrop-filter: blur(1rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--1rem) var(--3rem);
  box-shadow: 2px 2px 5px var(--green);
  position: fixed;
  z-index: 5;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  transition: var(--trasition);
}

.logo:hover {
  transform: rotate(360deg);
}

.nav-links a {
  background: var(--purple);
  padding: var(--button-lg);
  border-radius: var(--1-5rem);
  margin: 0 5px;
  font-size: var(--1rem);
  transition: var(--trasition);
}

.nav-links a:hover {
  background: var(--green);
}

#bars {
  background: var(--white);
  padding: var(--button-lg);
  font-size: var(--1-5rem);
  border-radius: 5px;
  cursor: pointer;
  display: none;
  color: var(--black);
}

.social-links {
  display: flex;
  font-size: var(--1-2rem);
  justify-content: center;
  align-items: center;
  gap: var(--1rem);
}

.banner {
  background: rgba(0, 0, 0, 0.7);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-group {
  background: rgb(0, 0, 0, 0.5);
  border-radius: var(--1-2rem);
  text-align: center;
  padding: var(--3rem);
}

.banner-group h1,
.banner-group h3 {
  color: var(--green);
  font-size: var(--3rem);
}

.banner-group h1 {
  margin-bottom: var(--1-2rem);
}

.banner-group h3 {
  margin-top: var(--1-2rem);
  margin-bottom: var(--2rem);
}

.banner h2 {
  font-size: var(--5rem);
  color: var(--purple);
}

.btn {
  font-size: var(--1-2rem);
  font-weight: bold;
  background: var(--green);
  border-radius: var(--1-2rem);
  border: none;
  transition: var(--trasition);
  padding: var(--button-lg);
}

.btn:hover {
  background: var(--purple);
  color: var(--white);
}

#about {
  background: var(--black);
  padding: var(--5rem) var(--1-2rem);
}

.about-div {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--1-5rem);
}

.about-img img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 10px 5px var(--green);
}

.text-group h2 {
  font-size: var(--1-2rem);
  text-decoration: underline;
}

.text-group p {
  font-size: var(--1rem);
  text-align: start;
  margin: var(--1rem) 0;
  line-height: var(--1-5rem);
}

#projects {
  background: #333;
  padding: var(--3rem) var(--1rem);
  text-align: center;
}

.title {
  font-size: var(--3rem);
  color: var(--green);
  margin-bottom: var(--2rem);
}

.projects {
  margin: var(--3rem) 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--1-5rem);
}

.project {
  flex: 1 1 25rem;
  box-shadow: 0 0 var(--1-2rem) 5px var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--2rem) 10px;
  border-radius: var(--1-5rem);
  background: var(--black);
}

.project img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid green;
  transition: var(--trasition);
}

.project h3 {
  font-size: var(--2rem);
  font-weight: bold;
  color: var(--green);
  margin: var(--1rem) 0;
}

.project p {
  font-size: var(--1-2rem);
  color: var(--green);
  margin: 0 var(--1-2rem);
  font-weight: bold;
  line-height: var(--2rem);
}

.project .text-group img:hover {
  transform: rotate(360deg);
}

#services {
  background-color: var(--black);
  padding: var(--2rem);
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--2rem);
}

.service-box {
  flex: 1 1 25rem;
  height: 350px;
  box-shadow: 0 0 10px var(--green);
  position: relative;
  overflow: hidden;
}

.service-img,
.service-label {
  position: absolute;
  width: var(--width-full);
  height: var(--width-full);
}

.service-img img {
  width: var(--width-full);
  height: var(--width-full);
  object-fit: cover;
  object-position: center;
}

.service-label {
  background: var(--green);
  display: block;
  text-align: center;
  transform: translate(-100%);
  transition: var(--trasition);
}

.service-label h2 {
  font-size: var(--3rem);
  margin: var(--1rem) 0;
}

.service-label p {
  font-size: var(--1-2rem);
  margin: var(--button-lg);
  text-align: start;
}

.service-box:hover .service-label {
  transform: translate(0);
}

.contact {
  background-color: black;
  text-align: center;
  padding: var(--1-2rem) 0;
}

.contact h1 {
  color: var(--green);
  display: inline-block;
  font-size: var(--1-5rem);
  font-weight: bold;
}

.contact-type {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--1rem) 0;
  gap: var(--1rem);
  width: 90%;
  margin: 0 auto;
  flex-wrap: nowrap;
}

.contact-type h2 {
  color: var(--green);
  border: 1px solid var(--green);
  padding: var(--button-lg);
  cursor: pointer;
  border-radius: var(--1-5rem);
}

.contact-type h2:hover {
  color: var(--white);
  border: 1px solid var(--white);
}

/* media Query start */

@media (max-width: 1020px) {
  .about-div {
    flex-direction: column;
  }
  .contact-type {
    flex-wrap: wrap;
  }
}

@media (max-width: 870px) {
  #bars {
    display: block;
  }

  .social-links {
    display: none;
  }

  .nav-links {
    background-color: #00000080;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 20px 50px;
    transform: translate(100%);
    transition: var(--trasition);
  }

  .show {
    transform: translate(0);
  }

  .nav-links a {
    display: block;
    margin: 20px 0;
    text-align: center;
  }

  .text-group {
    margin: var(--2rem) 0;
    text-align: center;
  }

  .banner h3,
  .banner h1 {
    font-size: var(--2rem);
  }

  .banner h2 {
    font-size: var(--3rem);
  }

  .btn {
    font-size: var(--1rem);
  }

  .contact-type {
    flex-direction: column;
    padding: var(--1-2rem) 0;
  }

  .contact-type h2 {
    width: var(--width-full);
  }
}

@media (max-width: 362px) {
  .about-img img {
    width: 220px;
    height: 220px;
  }

  .banner h3,
  .banner h1 {
    font-size: var(--1-5rem);
  }

  .banner h2 {
    font-size: var(--2rem);
  }
}
